extends layout

block content
  form(action='/new', method='POST')
    p
      | text: 
      input(type='text', name='text', value='')
      br
      | user: 
      input(type='text', name='user', value='')
    input(type='submit', value='Submit')